<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Crimson+Text:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{'/feed.xml'|relative_url}}">
  <script type="text/javascript" src="{{ '/bower_components/jquery/dist/jquery.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/bower_components/algoliasearch/dist/algoliasearch.min.js' | relative_url }}"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7702690531661278",
      enable_page_level_ads: true
    });
  </script>
  <script type="text/javascript">
    ! function() {
      var analytics = window.analytics = window.analytics || [];
      if (!analytics.initialize)
        if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice.");
        else {
          analytics.invoked = !0;
          analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"];
          analytics.factory = function(t) {
            return function() {
              var e = Array.prototype.slice.call(arguments);
              e.unshift(t);
              analytics.push(e);
              return analytics
            }
          };
          for (var t = 0; t < analytics.methods.length; t++) {
            var e = analytics.methods[t];
            analytics[e] = analytics.factory(e)
          }
          analytics.load = function(t) {
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.async = !0;
            e.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(e, n)
          };
          analytics.SNIPPET_VERSION = "4.0.0";
          analytics.load("hmWTE1y3Q7FmXg8P4Sm0Yy36Bd2ezPHm");
          analytics.page();
        }
    }();
  </script>
</head>


<body>
  <header class="site-header" role="banner">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img src="{{ '/apple-touch-icon-120x120.png' | relative_url }}" alt="éphémère logo">
            <span id="blog-name">{{site.title}}</span>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% for my_page in site.pages %} {% if my_page.title %}
            <li>
              <a class="page-link hvr-underline-from-center" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>
  </header>

  <main class="container" aria-label="Content">
    <div class="row">
      <div class="col-xs-12">
        {{ content }}
      </div>
    </div>
  </main>

  <footer id="main-footer" class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            width: 100%;
          }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="//silent-graphics.us5.list-manage.com/subscribe/post?u=9da8d1d1eecb905ff99a30c3b&amp;id=c84c8ce312" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">Subscribe to our mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9da8d1d1eecb905ff99a30c3b_c84c8ce312" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
        <!--End mc_embed_signup-->
        
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <ul class="social-media-list">
          <li>{{ site.title | escape }}</li>
          <li>Subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-4">
        <ul class="social-media-list">
         {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% endif %}
          <li><a href="https://ephemerecreative.ca">Services</a></li>
          <li><a href="https://www.codementor.io/raphaeltm">Mentorship</a></li>
          <li><a href="https://photography.ephemerecreative.ca">Photography</a></li>
          <li><a href="https://www.youtube.com/channel/UCRpNWssBjgcvPdhg_94mgIw">Videos</a></li>
          <li><a href="https://podcast.ephemerecreative.ca">Podcast</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-5">
        <p>{{ site.description | escape }}</p>
      </div>
      
      <div class="col-xs-12">
        <hr>
        <br> 
        {% include footer_desktop_ad.html %} {% include mobile_only_banner_ad.html %}
        <br>
      </div>
    </div>

  </footer>


  <script type="text/javascript" src="{{ '/bower_components/blockadblock/blockadblock.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/main.js' | relative_url }}"></script>
</body>

</html>

